.ico {background: url(sprite.png) 0 0;}
.ico.ico_i_clear {
	background-position: -0px -0px;
	width: 26px; 
	height: 26px; 
}
.ico.ico_i_clear_hover {
	background-position: -46px -0px;
	width: 26px; 
	height: 26px; 
}