header.l-header
    nav.navbar.navbar-default
        .container
            .collapse.navbar-collapse
                a(href="/").navbar-brand Генератор спрайтов
                ul.nav.navbar-nav

                ul.nav.navbar-nav.navbar-right
                    if(user)
                        li
                            a(href="/logout")
                                |Выход
                                span.badge.m_l1 #{user}
                    if(!user)
                        li(class!= route == '/registration' && 'active' || ''): a(href="/registration") Регистрация
                        li(class!= route == '/login' && 'active' || ''): a(href="/login") Вход