header.l-header
    nav.navbar.navbar-inverse
        .container
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li(class!= route == '/' && 'active' || ''): a(href="/") Главная
                    li(class!= route == '/about' && 'active' || ''): a(href="/about") О сайте
                    li(class!= route == '/registration' && 'active' || ''): a(href="/registration") Регистрация
                    li(class!= route == '/login' && 'active' || ''): a(href="/login") Вход