.icon{background: url(sprite.png) 0 0;}
.icon.icon_logo {
background-position: -0px -0px;
width: 258px; 
height: 117px; 
}
.icon.icon_logo {
background-position: -0px -118px;
width: 258px; 
height: 117px; 
}
.icon.icon_marker {
background-position: -0px -236px;
width: 35px; 
height: 57px; 
}
.icon.icon_marker {
background-position: -36px -236px;
width: 35px; 
height: 57px; 
}
.icon.icon_checkbox_ico {
background-position: -122px -294px;
width: 30px; 
height: 15px; 
}
.icon.icon_checkbox_ico {
background-position: -259px -212px;
width: 30px; 
height: 15px; 
}
.icon.icon_i_nav_prev_dis {
background-position: -259px -53px;
width: 52px; 
height: 52px; 
}
.icon.icon_i_od {
background-position: -92px -294px;
width: 29px; 
height: 29px; 
}
.icon.icon_i_service_install {
background-position: -312px -234px;
width: 63px; 
height: 25px; 
}
.icon.icon_i_service_repair {
background-position: -312px -52px;
width: 64px; 
height: 25px; 
}
.icon.icon_i_nav_next_dis {
background-position: -259px -0px;
width: 52px; 
height: 52px; 
}
.icon.icon_i_nav_prev {
background-position: -259px -159px;
width: 52px; 
height: 52px; 
}
.icon.icon_i_nav_prev_dis {
background-position: -259px -106px;
width: 52px; 
height: 52px; 
}
.icon.icon_i_od {
background-position: -62px -294px;
width: 29px; 
height: 29px; 
}
.icon.icon_i_phone {
background-position: -267px -264px;
width: 19px; 
height: 25px; 
}
.icon.icon_i_rss {
background-position: -31px -294px;
width: 30px; 
height: 29px; 
}
.icon.icon_i_service_auto {
background-position: -312px -156px;
width: 64px; 
height: 25px; 
}
.icon.icon_i_service_install {
background-position: -312px -260px;
width: 63px; 
height: 25px; 
}
.icon.icon_i_service_repair {
background-position: -312px -104px;
width: 64px; 
height: 25px; 
}
.icon.icon_i_service_sell {
background-position: -200px -236px;
width: 63px; 
height: 27px; 
}
.icon.icon_i_vk {
background-position: -0px -294px;
width: 30px; 
height: 29px; 
}
.icon.icon_i_service_auto {
background-position: -312px -78px;
width: 64px; 
height: 25px; 
}
.icon.icon_i_service_auto {
background-position: -312px -26px;
width: 64px; 
height: 25px; 
}
.icon.icon_i_service_repair {
background-position: -312px -0px;
width: 64px; 
height: 25px; 
}
.icon.icon_i_service_sell {
background-position: -136px -236px;
width: 63px; 
height: 27px; 
}
.icon.icon_i_service_repair {
background-position: -202px -264px;
width: 64px; 
height: 25px; 
}
.icon.icon_i_service_sell {
background-position: -72px -236px;
width: 63px; 
height: 27px; 
}
.icon.icon_i_service_repair {
background-position: -312px -130px;
width: 64px; 
height: 25px; 
}
.icon.icon_i_service_install {
background-position: -312px -208px;
width: 63px; 
height: 25px; 
}
.icon.icon_i_service_repair {
background-position: -137px -264px;
width: 64px; 
height: 25px; 
}
.icon.icon_i_service_install {
background-position: -312px -182px;
width: 63px; 
height: 25px; 
}
.icon.icon_i_call {
background-position: -264px -236px;
width: 21px; 
height: 24px; 
}
.icon.icon_i_service_repair {
background-position: -72px -264px;
width: 64px; 
height: 25px; 
}