extends layout

block content
  .container
    h4 Login to your account
    form(action='/login' method='post')
      .form-group
        label(for='username') email
        input(type='text' name='email' class="form-control" placeholder='Your email')
      .form-group
        label(for='password') Password
        input(type='password' name='password' class="form-control" placeholder='Your Password')
      button(type='submit') Login
  if (message.length > 0)
    .alert.alert-danger= message