extends layout

block content
  .container
    h1 Вход
    form(action='/login' method='post')
      .form-group
        label(for='username') Логин
        input(type='text' name='username' class="form-control")
      .form-group
        label(for='password') Пароль
        input(type='password' name='password' class="form-control")
      button(type='submit').btn.btn-primary Вход
    if (message.length > 0)
      .alert.alert-danger.m_t3= message