extends layout

block content
  .container
    h4 Register your account
    form(action='/registration' method='post')
      .form-group
        label(for='email') Email
        input(type='text' name='email' class="form-control" placeholder='Your Email')
      .form-group
        label(for='password') Password
        input(type='password' name='password' class="form-control" placeholder='Your Password')
      button(type="submit") Register
    if (message.length > 0)
      .alert.alert-danger= message
