extends layout

block content
  .container
    h1 Регистрация
    form(action='/registration' method='post')
      .form-group
        label(for='username') Email
        input(type='text' name='username' class="form-control")
      .form-group
        label(for='password') Password
        input(type='password' name='password' class="form-control")
      button(type="submit").btn.btn-primary Регистрация
    if (message.length > 0)
      .alert.alert-danger= message
