.ico{background: url(sprite.png) 0 0;}
.ico.ico_i_service_auto {
background-position: -0px -144px;
width: 64px; 
height: 25px; 
}
.ico.ico_i_service_install {
background-position: -227px -45px;
width: 63px; 
height: 25px; 
}
.ico.ico_i_service_repair {
background-position: -84px -144px;
width: 64px; 
height: 25px; 
}
.ico.ico_i_service_sell {
background-position: -144px -0px;
width: 63px; 
height: 27px; 
}
.ico.ico_i_service_install {
background-position: -227px -90px;
width: 63px; 
height: 25px; 
}
.ico.ico_i_nav_prev {
background-position: -0px -0px;
width: 52px; 
height: 52px; 
}
.ico.ico_i_service_repair {
background-position: -227px -0px;
width: 64px; 
height: 25px; 
}
.ico.ico_i_service_sell {
background-position: -144px -47px;
width: 63px; 
height: 27px; 
}
.ico.ico_i_nav_prev_dis {
background-position: -72px -0px;
width: 52px; 
height: 52px; 
}
.ico.ico_i_nav_prev_dis {
background-position: -0px -72px;
width: 52px; 
height: 52px; 
}