.icon{background: url(sprite.png) 0 0;}
.icon.icon_i_compare {
background-position: -0px -320px;
width: 50px; 
height: 60px; 
}
.icon.icon_i_doc {
background-position: -0px -0px;
width: 60px; 
height: 60px; 
}
.icon.icon_i_pdf {
background-position: -160px -0px;
width: 60px; 
height: 60px; 
}
.icon.icon_i_pptx {
background-position: -0px -160px;
width: 60px; 
height: 60px; 
}
.icon.icon_i_rar {
background-position: -160px -160px;
width: 60px; 
height: 60px; 
}
.icon.icon_i_sale {
background-position: -150px -320px;
width: 50px; 
height: 60px; 
}
.icon.icon_i_unknow {
background-position: -300px -320px;
width: 50px; 
height: 60px; 
}
.icon.icon_i_xls {
background-position: -320px -0px;
width: 60px; 
height: 60px; 
}
.icon.icon_i_zip {
background-position: -320px -160px;
width: 60px; 
height: 60px; 
}